/********* EFFECT  1 *********/
.effect1 {padding: 10px 25px; font-family: 'Roboto', sans-serif; font-weight: 500; background: transparent; outline: none !important; cursor: pointer; transition: all 0.3s ease; position: relative; display: inline-block;}
/********* BUTTON  1 *********/
.btn1 {border: 2px solid #000;}
.btn1:hover {background: #000; color: #fff;}
.btn1:active {top: 2px;}
/********* BUTTON  2 *********/
.btn2 {border: none; border-bottom: 2px solid #000; border-left: 2px solid #000;}
.btn2:before, .btn-2:after {position: absolute; content: ""; right: 0; top: 0; background: #000; transition: all 0.3s ease;}
.btn2:before {height: 0%; width: 2px;}
.btn2:after {width: 0%; height: 2px;}
.btn2:hover:before {height: 100%;}
.btn2:hover:after {width: 100%;}
/********* BUTTON  3 *********/
.btn3 {width: 130px; height: 40px; line-height: 42px; padding: 0; border: none;}
.btn3 span {position: relative; display: block; width: 100%; height: 100%;}
.btn3:before, .btn-3:after {position: absolute; content: ""; right: 0; top: 0; background: #000; transition: all 0.3s ease;}
.btn3:before {height: 0%; width: 2px;}
.btn3:after {width: 0%; height: 2px;}
.btn3:hover:before {height: 100%;}
.btn3:hover:after {width: 100%;}
.btn3 span:before, .btn-3 span:after {position: absolute; content: ""; left: 0; bottom: 0; background: #000; transition: all 0.3s ease;}
.btn3 span:before {width: 2px; height: 0%;}
.btn3 span:after {width: 0%; height: 2px;}
.btn3 span:hover:before {height: 100%;}
.btn3 span:hover:after {width: 100%;}
/********* BUTTON  4 *********/
.btn4 {width: 130px; height: 40px; line-height: 42px; padding: 0; border: none;}
.btn4 span {position: relative; display: block; width: 100%; height: 100%;}
.btn4:before, .btn-4:after {position: absolute; content: ""; right: 0; top: 0; background: #000; transition: all 0.3s ease;}
.btn4:before {height: 50%; width: 2px;}
.btn4:after {width: 20%; height: 2px;}
.btn4:hover:before {height: 100%;}
.btn4:hover:after {width: 100%;}
.btn4 span:before, .btn-4 span:after {position: absolute; content: ""; left: 0; bottom: 0; background: #000; transition: all 0.3s ease;}
.btn4 span:before {width: 2px; height: 50%;}
.btn4 span:after {width: 20%; height: 2px;}
.btn4 span:hover:before {height: 100%;}
.btn4 span:hover:after {width: 100%;}
/********* BUTTON  5 *********/
.btn5 {width: 130px; height: 40px; line-height: 42px; padding: 0; border: none;}
.btn5 span {position: relative; display: block; width: 100%; height: 100%;}
.btn5:before, .btn-5:after {position: absolute; content: ""; right: 0; bottom: 0; background: #000; transition: all 0.3s ease;}
.btn5:before {height: 50%; width: 2px;}
.btn5:after {width: 20%; height: 2px;}
.btn5:hover:before {height: 100%;}
.btn5:hover:after {width: 100%;}
.btn5 span:before, .btn-5 span:after {position: absolute; content: ""; left: 0; top: 0; background: #000; transition: all 0.3s ease;}
.btn5 span:before {width: 2px; height: 50%;}
.btn5 span:after {width: 20%; height: 2px;}
.btn5 span:hover:before {height: 100%;}
.btn5 span:hover:after {width: 100%;}
/********* BUTTON  6 *********/
.btn6 {width: 130px; height: 40px; line-height: 42px; padding: 0; border: none;}
.btn6 span {position: relative; display: block; width: 100%; height: 100%;}
.btn6:before, .btn-6:after {position: absolute; content: ""; height: 0%; width: 2px; background: #000;}
.btn6:before {right: 0; top: 0; transition: all 0.1s ease;}
.btn6:after {left: 0; bottom: 0; transition: all 0.1s 0.2s ease;}
.btn6:hover:before {transition: all 0.1s 0.2s ease; height: 100%;}
.btn6:hover:after {transition: all 0.1s ease; height: 100%;}
.btn6 span:before, .btn-6 span:after {position: absolute; content: ""; background: #000;}
.btn6 span:before {left: 0; top: 0; width: 0%; height: 2px; transition: all 0.1s 0.1s ease;}
.btn6 span:after {left: 0; bottom: 0; width: 100%; height: 2px;}
.btn6 span:hover:before {width: 100%;}
/********* BUTTON  7 *********/
.btn7 {border: 2px solid #000; transition: all 0.3s ease; background: #f2f2f2;}
.btn7:before {position: absolute; content: ' '; z-index: -1; width: 25%; top: 50%; left: -15%; height: 2px; background: #000; transition: all 0.3s ease;}
.btn7:hover {background: #000; color: #fff; border-color: #000; padding-left: 30px; padding-right: 20px;}
.btn7:hover:before {left: -10%;}
/********* BUTTON  8 *********/
.btn8 {padding-left: 30px; padding-right: 20px; background: #f2f2f2; border: 2px solid #000; transition: all 0.3s ease;}
.btn8:before {position: absolute; content: ' '; z-index: -1; width: 25%; top: 50%; left: -10%; height: 2px; background: #000; transition: all 0.3s ease;}
.btn8:hover {background: #000; color: #fff; border-color: transparent; padding-left: 25px; padding-right: 25px;}
.btn8:hover:before {left: -15%;}
/********* BUTTON  9 *********/
.btn9 {background: #f2f2f2; border: 2px solid #000; transition: all 0.3s ease;}
.btn9:before, .btn9:after {position: absolute; content: ' '; z-index: -1; width: 25%; top: 50%; height: 2px; background: #000; transition: all 0.3s ease;}
.btn9:before {left: -10%;}
.btn9:after {right: -10%}
.btn9:hover {background: #000; color: #fff;}
.btn9:hover:before {left: -15%;}
.btn9:hover:after {right: -15%;}
/********* BUTTON 10 *********/
.btn10 {background: #f2f2f2; border: 2px solid #000; transition: all 0.3s ease;}
.btn10:before, .btn10:after {position: absolute; content: ' '; z-index: -1; width: 25%; top: 50%; height: 2px; background: #000; transition: all 0.3s ease;}
.btn10:before {left: -15%;}
.btn10:after {right: -15%}
.btn10:hover {background: #000; color: #fff;}
.btn10:hover:before {left: -10%;}
.btn10:hover:after {right: -10%;}
/********* BUTTON 11 *********/
.btn11 {background: #f2f2f2; border: 2px solid #000; transition: all 0.3s ease;}
.btn11:before, .btn-11:after {position: absolute; content: ' '; z-index: -1; width: 25%; top: 50%; height: 2px; background: #000; transition: all 0.3s ease;}
.btn11:before {left: -10%;}
.btn11:after {right: -10%}
.btn11:hover {background: #000; color: #fff;}
.btn11:hover:before {left: 0%;}
.btn11:hover:after {right: 0%;}
/********* BUTTON 12 *********/
.btn12 {border: 2px solid #000; z-index: 1;}
.btn12:after {position: absolute; content: ""; width: 100%; height: 0; bottom: 0; left: 0; z-index: -1; background: #000; transition: all 0.3s ease;}
.btn12:hover {color: #fff;}
.btn12:hover:after {top: 0; height: 100%;}
.btn12:active {top: 2px;}