.njokee-row > div {padding:15px;margin:0}
.njokee-row [class^='njokee1-'], .njokee-row [class^='njokee2-'] {float:left; color:#333; background-color:#aaa}
.njokee-row [class^='njokee1-'], .njokee-row [class^='njokee2-'] {text-align:center; font-size:18px;margin-top:5px}
.njokee2-1 {width:  8.33333%}
.njokee2-2 {width: 16.66666%}
.njokee2-3 {width: 24.99999%}
.njokee2-4 {width: 33.33332%}
.njokee2-5 {width: 41.66665%}
.njokee2-6 {width: 49.99998%}
.njokee2-7 {width: 58.33331%}
.njokee2-8 {width: 66.66664%}
.njokee2-9 {width: 74.99997%}
.njokee2-10 {width:83.3333%}
.njokee2-11 {width:91.66663%}
.njokee2-12 {width:99.9996%}
.njokee1-1 {width:100%}
.njokee1-2 {width:50%}
.njokee1-3 {width:33.33%}
.njokee1-4 {width:25%}
.njokee1-5 {width:20%}
.njokee1-6 {width:16.666%}
.njokee1-7 {width:14.285714%}
.njokee1-8 {width:12.5%}
.njokee1-9 {width:11.111111%}
.njokee1-10 {width:10%}
.njokee1-11 {width:9.090909%}
.njokee1-12 {width:8.33333%}