/****************** B  A  S  I  C ******************/
*, *::before, *::after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0}
body {background:#ddd;  font-family:'Open Sans', sans-serif; -webkit-font-smoothing: antialiased;}
.page {width:1100px; height:auto; margin:50px auto}
.page > * {background:#eee}
/******************* F  L  E  X  *******************/
.clearfix:after {content:'.'; display:block; clear:both; visibility:hidden; height:0; line-height:0}
.row {float:left; padding:0; padding:10px; margin:.5%}
.flo-1 {width:99%}
.flo-2 {width:49%}
.flo-3 {width:32.33%}
.flo-4 {width:24%}
.flo-5 {width:19%}
.flo-6 {width:15.66%}
.item-1 {width:8.25%}
.item-2 {width:16.5%}
.item-3 {width:24.75%}
.item-4 {width:33%}
.item-5 {width:41.25%}
.item-6 {width:48.5%}
.item-7 {width:56.75%}
.item-8 {width:65%}
.item-9 {width:73.25%}
.item-10 {width:81.5%}
.item-11 {width:89.75%}
.item-12 {width:99%}
/*************** H  E  L  P  E  R  S ***************/
.clearfix:after {content:'.'; display:block; clear:both; visibility:hidden; height:0; line-height:0}
.left {float:left}
.right {float:right}
