body {background: #ff4e50; width: 1500px; height: auto; margin: 0 auto;}
#njokee {background: #fff; margin: 70px 100px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)}
#njokee-title {font: 60px 'Anton', sans-serif; text-align: center; padding: 25px 0 0;}
#njokee-info {font: 26px 'Playfair Display', serif; text-align: center; padding: 25px 0 0;}