body {background: #ff4e50; width: 1500px; height: auto; margin: 0 auto;}
#njokee {background: #fff; margin: 70px 100px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)}
h1{font-family: 'Oswald', sans-serif; font-weight:normal; font-size:24px; color:#34495e; text-align:center; margin:0 auto 40px 0;}
h1:first-letter{color:#e74c3c; border-bottom:1px solid #e74c3c;}
#njokee-info {font: 26px 'Playfair Display', serif; text-align: center; padding: 25px 0 0;}
