body {background:#ff4e50; width:1500px; height:auto; margin:0 auto}
img {padding:0; width:100%; height:auto}
.njokee {background:#fff; margin:70px 150px; box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); min-height:450px; padding: 50px}
/*********************************************************/
